
<div class="container">

	<div class="row">

		<!--    Page Header Section     -->
		<page-header></page-header>
		<div class="pg-bdy">
			<!-- Breadcrumb Section -->
			<ul class="breadcrumb">
				<!-- <li><a ui-sref="Home">C3P</a></li>
				<li class="breadcrumbLabel">Configuration</li>
				<li class="active" >Create</li> -->
			</ul>
			<!-- Breadcrumb Section -->
			<!-- Search Section -->
			<form id="createCongigForm" name="myform" novalidate
				ng-class={submitted:submitted}>
				<div class="panel form-inline border-top mt-5 lbl-normal cmp-normal">
					<h4 style="text-align:center">Work In Progress.</h4>
				</div>
			</form>

		</div>
		<!--    Page Footer Section  -->
		<footer class="text-center">&copy; Tech Mahindra - 2018</footer>
		<!--    Page Footer Section  -->

	</div>
</div>

