<form id="ConfigMgmtForm" novalidate>
            <div class="panel col-md-12 col-lg-12 form-inline mt-3 lbl-normal cmp-normal">
            <h3 class="title second-title mt-5 ml-40">Device Details</h3>    
	            <div class="row mt-30">     
	            	<div class="col-lg-4 form-group config-tempMgmt-Form">
						<label class=" col-lg-4 text-right ">Vendor :</label>
						<div class="col-lg-8">
							<div class="styled-select">
								<select ng-change="getVendorDeviceType('POST', ['getDeviceType'])" required class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model="configuartion.vendor">
									<option value="">Select</option>
									<option ng-repeat ="vendor in vedorDropDown" value="{{ vendor.value }}">{{ vendor.displayName }}</option>									
								</select> 
								<span class="caret-container"> <span class="caret"></span></span>										
							</div>
						</div>
					</div>
	            	<div class="col-lg-4 form-group config-tempMgmt-Form">
						<label class=" col-lg-4 text-right ">Device Type :</label>
						<div class="col-lg-8">
							<div class="styled-select">
									<select ng-change="getVendorDeviceType('POST', ['model','os'])" required class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model="configuartion.deviceType">
										<option value="">Select</option>
										<option ng-repeat ="device in deviceDropDown track by $index" ng-value=" device.value ">{{ device.displayName }}</option>
									</select> 
									<span class="caret-container"> <span class="caret"></span></span>
								</div>
							</div>	
					</div>
					
					<div class="col-lg-4 form-group config-tempMgmt-Form">
						<label class=" col-lg-4 text-right ">Model :</label>
						<div class="col-lg-8">
							<div class="styled-select">
								<select required class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model="configuartion.model">
									<option value="">Select</option>
									<option ng-repeat ="model in modelDropDown track by $index" value="{{ model }}">{{ model }}</option>
								</select> 
								<span class="caret-container"> <span class="caret"></span></span>
							</div>
						</div>
					</div>
	            	
	            </div>
	            <div class="row mt-5" style="height: 238px">            
	            	<div class="col-lg-4 form-group config-tempMgmt-Form">
						<label class=" col-lg-4 text-right ">OS :</label>
						<div class="col-lg-8">
							<div class="styled-select">
								<select ng-change="getVendorDeviceType('POST', ['osVersion'])" required class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model="configuartion.os">
									<option value="">Select</option>
									<option ng-repeat = "os in osDropDown" value="{{ os }}">{{ os }}</option>									
								</select> 
								<span class="caret-container"> <span class="caret"></span></span>
							</div>
						</div>
					</div>
	            	<div class="col-lg-4 form-group config-tempMgmt-Form">
						<label class=" col-lg-4 text-right ">OS Version:</label>
						<div class="col-lg-8">
							<div class="styled-select">
								<select required class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model="configuartion.osVersion">
									<option value="">Select</option>
									<option ng-repeat = "osVersion in osVersionDropDown" value="{{osVersion}}">{{osVersion}}</option>
									
								</select> 
								<span class="caret-container"> <span class="caret"></span></span>
							</div>
						</div>
					</div>
					<div class="col-lg-4 form-group config-tempMgmt-Form">
						<label class=" col-lg-4 text-right ">Region:</label>
						<div class="col-lg-8">
							<div class="styled-select">
								<select required class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model="configuartion.reagion">
									<option value="">Select</option>
									<option ng-repeat="region in regionDropDown" value="{{ region.value }}">{{ region.displayName }}</option>
								</select> 
								<span class="caret-container"> <span class="caret"></span></span>
							</div>
						</div>
					</div>
	            </div>
	            <div class="row col-md-12 col-lg-12 mt-50">
	             <div class="pull-left ml-70">
			            	<lable>All fields are Required</lable>
			            </div>
			            <div class="pull-right">
			            	<button ng-click="getConfigTemplates('configFeatureTemp.html', true)" class="btn btn-primary">Next</button>
			            </div>
	            </div>
	            
	            
            </div>
            </form>
            
  <!--    loading   -->
<loading></loading>          
<div id="duplicateTemIdPopup" class="reportPopUp" style="left:5%;">
	<!-- Modal content -->
	<div class="popup-content confirm-popUp">
		<div class="col-lg-5 popup-content-header col-lg-offset-3">
			<span class="small_logo_icon"></span> <label
				class="report-header-style"><h4 class="fs-16">Error</h4></label> <span
				class="report-close-icon" ng-click="closeReportPopUp('#duplicateTemIdPopup')"></span>
		</div>
		<div class="IntRountingOptContainer col-lg-5 col-lg-offset-3">
			<h5>{{alertErrorMessage}}</h5>
         </div> 
         
         <div class="modal-footer col-lg-5 col-lg-offset-3">
			<button class="btn btn-default" ng-click="getDupeTempIdEvent('#duplicateTemIdPopup')">No</button>
			<button class="btn btn-primary" ng-click="closeReportPopUp('#duplicateTemIdPopup')">Yes</button>
         </div>     
	</div>
</div>