   <div class="container home-pg" style="overflow: hidden;">
        <!-- Header Section -->
        <header>
            <nav class="navbar navbar-default pull-right">
                <div class="container-fluid">
                    <ul class="nav navbar-nav pg-nav" style="width: 100%">
                        <li class="dropdown user-menu">
                        <a class="dropdown-toggle ico-user" data-toggle="dropdown" >Welcome <span>{{$root.userInfo.username}}</span><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="profile" >View Profile</a></li>
                                <li class="" ng-click="logOut()"><a class="logout" >Logout</a></li>
                            </ul>
                        </li>
                        <li class="" onclick="helpPopUp()"><a class="ico-help"></a></li>
                        <li class="dropdown "><a ng-click="pendingTemplateList()" style="border: none;margin-top: -5px;" class="ico-notif bgBlack dropdown-toggle" data-toggle="dropdown">
			            <span class="badge badge-notify" style="left: -9px;"> {{$root.notificationCount}}</span></a>
			            <ul class="dropdown-menu dropdown-slider-noti" style="left: -90%;">
					      <li ng-style="$root.userInfo.showPrivilegeLeveAdmin == false && {'display': 'none'}" class="dropdown-header"  style="border-bottom: 1px solid #80808066;width:113%"><a ui-sref="Approval" class="noti-header-link">Notification : Template Approval</a></li>
			      		  <li ng-style="$root.userInfo.showPrivilegeLeveAdmin == false && {'display': 'none'}"  style="width:113%" ng-class="{'notiRead': template.read == '1'}" ng-repeat="template in notiTemplateList track by $index"><a style="color: #337ab7 !important" ui-sref="approvalDetails({templateId: template.templateId,version: template.version,read: 1,isEditable : template.isEditable})">{{template.templateId}} -v {{template.version}} : {{template.status}} </a></li>
					      <li ng-show="feNotiReqListFlag" class="dropdown-header"  style="border-bottom: 1px solid #80808066;width:113%"><a ui-sref="fieldEng" class="noti-header-link">Notification : FE</a></li>
					      <li ng-show="feNotiReqListFlag" && {'display': 'none'}" style="width:113%" ng-class="{'notiRead': request.read == '1'}" ng-repeat="request in feNotiReqList track by $index"><a style="color: #337ab7 !important" ui-sref="fieldEngDetails({requestId: request.display_request_id,version: request.request_version,read: 1})">{{request.display_request_id}} -v {{request.request_version}} : {{request.status}}</a></li>
					      <li ng-show="seNotiReqeListFlag" class="dropdown-header"  style="border-bottom: 1px solid #80808066;width:113%"><a style="cursor: auto;" class="noti-header-link">Notification : SE</a></li>
					      <li ng-show="seNotiReqeListFlag" style="width:113%" ng-class="{'notiRead': request.read == '1'}" ng-repeat="request in seNotiReqeList track by $index"><a style="color: #337ab7 !important" ui-sref="dashboardReqDetails({dashboardReq_Details: request.display_request_id,version: request.request_version,read: 1})">{{request.display_request_id}} -v {{request.request_version}} : {{request.status}}</a></li>
					   
					    </ul>
					    </li>
                        <li><a ng-click="logOut()" class="ico-power"></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Header Section -->
        <!-- Nav Section -->
        <nav class="home-nav">
            <div class="nav-logo">
                Connect Configure Certification Platform
            </div>
            <nav>
                <ul>
                    <li>
                        <a ui-sref="Dashboard" class="ico-home-dashboard" ng-click="makeMeActive('Dashboard')">Dashboard</a>                        
                    </li>
                    <li>
                        <a class="ico-home-config" >Configuration</a>
                        <nav class="sub-menu">
                            <ul>
                                <li>
                                    <a ng-click="makeMeActive('Configuration')">Create</a>
                                 <nav class="sub-menu">
                           		 <ul>
                                	<li>
                                   		<a ui-sref="CMCreate" ng-click="makeMeActive('Configuration')">Legacy</a>
                                    	<div class="circle"></div>
                                	</li>
                                	<li>
                                   		<a ui-sref="createSDN" style="left: -47px !important;" ng-click="makeMeActive('Configuration')">SDN/NFV</a>
                                    	<div class="circle"></div>
                                	</li>
                                	<div class="subArcMenu"></div>
                                	<div class="subArcMenuhover"></div>
                               
                                </ul>
                                 <div class="subarc-container">
                                  <div class="subarc"></div>
                                 </div>
                                </nav>
                                    <div class="circle"></div>
                                    </li>
                                <li>
                                    <a ui-sref ="ViewConfiguration" ng-click="makeMeActive('Configuration')">View</a>
                                    <div class="circle"></div>
                                </li>
                                 <li><a ui-sref="fieldEng">Field Engineering Management</a></li>
                                <!-- <li>
                                    <a href="#!">Update</a>
                                    <div class="circle"></div>
                                </li> -->
                            </ul>
                            <div class="arc-container">
                                <div class="arc"></div>
                            </div>
                        </nav>
                    </li>
                    <li>
                        <a ui-sref="Reports" class="ico-home-report" ng-click="makeMeActive('Report')">Report</a>                      
                    </li>
                      <li ng-show="showPrivilegeLeveAdmin">
                        <a class="ico-home-admin" >Administrator</a>
                        <nav class="sub-menu">
                            <ul style="top: -74px;left: -77px;">
                            <li>
                                    <a ui-sref="RA" style="left:-43px !important"ng-click="makeMeActive('Admin')">Settings</a>
                                    <div class="circle"></div>
                                </li>
                                <li style="margin-right: 17px;margin-left: -18px">
                                    <a  ui-sref="DeviceManagement" style="left:-105px !important" ng-click="makeMeActive('Admin')">Device Management</a>
                                    <div class="circle"></div>
                                </li>
                                 <li style="margin-right: -1px;">
                                    <a  ui-sref="templateManagement" style="left:-117px !important" ng-click="makeMeActive('Admin')">Template Management</a>
                                    <div class="circle"></div>
                                </li>
                                
                                <!-- <li>
                                    <a href="#!">Update</a>
                                    <div class="circle"></div>
                                </li> -->
                            </ul>
                            <div class="arc-container">
                                <div class="arc"></div>
                            </div>
                        </nav>
                    </li>
                </ul>
            </nav>
        </nav>
        <!-- Nav Section -->
        
        <!--    Page Footer Section  -->
        <footer class="text-center">&copy; Tech Mahindra - 2018</footer>
        <!--    Page Footer Section  -->
    </div>
