 
<div class="container main-pg">
		<!--    Page Header Section     -->
		<page-header></page-header>
		<div class="pg-bdy">
			<!-- Breadcrumb Section -->
			<ul class="breadcrumb">
				<li><a href="#">C3P</a></li>
				<li class="active">Report</li>
			</ul>
		<!--    Page Body Section    -->
		<div class="panel form-inline border-top mt-5 lbl-normal cmp-normal">
			<div class="row">
				<div class="col-lg-6" id="pieChartContainer"></div>
				<div class="col-lg-6" id="columnChartContainer"></div>
				<!-- <div class="col-lg-6" id="donutChartContainer"></div>--> 
			</div> 
			<!-- <hr style="border-bottom:2px solid #999" >
			<div class="row">
				
			</div> -->
			
		</div>
		</div>
		<!--    Page Footer Section  -->
	<footer class="text-center">&copy; Tech Mahindra - 2018</footer>
	<!--    Page Footer Section  -->
</div>
</div>

