<div id="schedulePopUp" class="reportPopUp schedulePopUp">
	<!-- Modal content -->
	<div class="popup-content">
		<div class="col-lg-6 col-lg-offset-3 popup-content-header schedulePopUpWidth">
			<span class="small_logo_icon"></span> <label
				class="report-header-style"><h4>Schedule Request Delivery</h4></label> <span
				class="report-close-icon" ng-click="closeSchedulePopUp('schedulePopUp')"></span>
		</div>
		<div class="col-lg-6 col-lg-offset-3 scheduleOption">
			<div class="col-lg-12 pdt-10">
				<div class="styled-radio col-lg-2">
					<input type="radio" ng-change="checkSchedulerIndex(1)" name="schedulerOption" value="1" ng-model="schedulerValue" class="" />
					<label>Run</label>
				</div>
			
				<div class="styled-radio col-lg-4">
					<input type="radio" ng-change="checkSchedulerIndex(2)" ng-checked="schedulerOption == '2'" name="schedulerOption" value="2" ng-model="schedulerValue" class="" />
					<label>Schedule</label>
				</div>
			</div>
		</div>	
		<div class="reportPopUpContainer scheduleContainer col-lg-6 col-lg-offset-3 schedulePopUpWidth" 
		ng-class="{'disabledDiv' : schedulerOption == '1'}">
			
		 	<div class='input-group date' style="width: 50%" 
		 	moment-picker="scedulerDatePicker" start-view= "day" min-date="minDateString" format = "MM/DD/YYYY HH:m:s">
                   <input type='text' class="form-control" ng-disabled="eventDisable"						                    
                   today="true"
                   ng-model="scedulerDatePicker" ng-model-options="{ updateOn: 'blur' }"
                   ng-style="eventDisable && {'opacity':'0.5'} || !eventDisable && {'border': '1px solid red'}"
                   style="height: 10%;" readonly/>
                   <span class="input-group-addon" ng-disabled="eventDisable">
                   <span class="glyphicon glyphicon-calendar" ng-disabled="eventDisable"
                   ng-style="eventDisable && {'opacity':'0.5'}"></span>
                   </span>
               </div>
            <button style="margin-top: -28px;" class="btn btn-primary pull-right" ng-click="getScheduledData(true)">Save</button>
            <h3 class="title second-title mt-10">Scheduled Requests : </h3>
            <div class="table-responsive mt-10" style="max-height: 200px;">
                  <table st-table="scheduleList"  class="table table-striped hdr-table hdr-sort" st-safe-src="rowCollection">   
                      <thead>
                          <tr>
                              <th id="display_request_id" sort-table="true" class="" >Request ID</th>
                              <th id="region" sort-table="true" class="" >Status</th>
                              <th id="vendor" sort-table="true" class="">Next Execution Time</th>
                              <th id="model" sort-table="true" class="">Action Time</th>
                              <th id="status" sort-table="true" class="">Actions</th>
                          </tr>
                      </thead>
                         <tbody >
                             <tr ng-repeat="schedule in requestsList">
                                 <td>{{schedule.requestId}}</td>
                                 <td>{{schedule.status}}</td>
                                 <td>{{schedule.nextExecutionTime}}</td>
                                 <td>{{schedule.lastExecutionTime}}</td>
                                 <td><a ng-show="schedule.showActionReschdule" ng-click="scheduleAction('reschedule', schedule.requestId, schedule.version)">Reschedule</a></br>
                                 <a ng-show="schedule.showActionRun" ng-click="scheduleAction('run', schedule.requestId, schedule.version)">Run</a></br>
                                 <a ng-show="schedule.showActionCancel" ng-click="scheduleAction('cancel', schedule.requestId, schedule.version)">Cancel<a></td>
                             </tr>
                          </tbody>
                    </table>
              </div>
                 </div>
		 
                   <div class="col-lg-6 col-lg-offset-3 schedulePopUpWidth scheduleBottom">
					<button ng-if="schedulerOption == '1'" class="btn btn-primary ml-5 m-5 pull-right" ng-click="saveConfiguration($event)" type ="submit">Ok</button>                   
                    <button ng-if="schedulerOption == '2'"  class="btn btn-primary ml-5 m-5 pull-right" ng-disabled="!eventDisable" ng-click="scheduleAction('ok')">Ok</button>
  	 </div> 
	</div>
</div>