 <div class="container main-pg">
        
    <div class="row">
    
    <!--    Page Header Section     -->
        <page-header></page-header>
   
        <div class="pg-bdy">
             <!-- Breadcrumb Section -->
            <ul class="breadcrumb">
                <li><a ui-sref="Home">C3P</a></li>
                <li class="breadcrumbLabel">Configuration</li>
                <li class="active" ui-sref="ViewConfiguration">View</li>
            </ul>
             
 
            <div class="db-search-section">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-inline mt-10">
                            <div class="form-group">
                                <label class="mr-5">Search By : </label>
                                <select class="form-control" ng-model="searchField">
                                   <option ng-repeat="item in SearchItems" value="{{item}}">{{item}}</option>
                                </select>
                                <input type="text" class="form-control" placeholder="Enter search text"  ng-model="searchInput"/>
                                <button type="submit" class="btn ico-search" ng-click="searchRequest()"></button>
                                <span style="color: red;font-size: 14px;margin-left: 8px;" ng-show="errorMessege">Record not found</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-10 pull-right">
                        <button title="Refresh" class="refreshBtn" ng-click="getUpdatedGridData()"></button>
                    </div>
                </div>
            </div>
            <div class="db-result-section" >
                <div class="table-responsive">
                    <table  style="margin-bottom: 0px;" st-table="requestsList" class="table table-striped table-hover hdr-table hdr-sort" st-safe-src="rowCollection">   
                        <colgroup>
                           <col width="13.60176991150442%" />
                            <col width="11.61946902654867%" />
                            <col width="8.06194690265487%" />
                            <col width="11.17699115044248%" />
                            <col width="6.17699115044248%" />
                            <col width="6.2212389380531%" />
                            <col width="7.2212389380531%" />
                            <col width="8.2212389380531%" />
                            <col width="12.2212389380531%" />
                            <col width="7.2212389380531%" />
                            <col width="10.2212389380531%" />
                        </colgroup>
                        <thead style="padding-right: 17px;">
                            
                            <tr>
                                <th id="request_display_id" class="sort-ascent" sort-table="true"> Request ID</th>
                                
                                <th id="request_customer_name" class="sort-ascent" sort-table="true">Customer</th>
                                <th id="request_site_id" class="sort-ascent" sort-table="true">Site ID</th>
                                <th id="request_hostname" class="sort-ascent" sort-table="true">Host Name</th>
                                <th id="request_device" class="sort-ascent" sort-table="true">Device</th>
                                <th id="request_service" class="sort-ascent" sort-table="true">Service</th>
                                <th id="request_model" class="sort-ascent" sort-table="true">Model</th>
                                <th id="status" class="" sort-table="false">Status</th>
                                <th id="dateOfProcessing" class="" sort-table="false">Date & Time</th>
                                <th id="dateOfProcessing" class="" sort-table="false">Assigned To</th>
                                <th id="createdby" class="" sort-table="false">Created By</th>
                            </tr>
                        </thead>
                    </table>

                    <div style="max-height:317px; overflow-y:auto">
                        <table st-table="requestsList" class="table table-striped table-hover" st-safe-src="rowCollection">
                            
                            <colgroup>
                            <col width="13.60176991150442%" />
                            <col width="11.61946902654867%" />
                            <col width="8.06194690265487%" />
                            <col width="11.17699115044248%" />
                            <col width="6.17699115044248%" />
                            <col width="6.2212389380531%" />
                            <col width="7.2212389380531%" />
                            <col width="8.2212389380531%" />
                            <col width="12.2212389380531%" />
                            <col width="7.2212389380531%" />
                            <col width="10.2212389380531%" />
                            </colgroup>
                        
                            <tbody ng-repeat="newVersion in requestsList | orderBy:sortKey:reverse">
                                <tr>
                                <td class="versionListStyle text_bold"> <span ng-click="showMe=!showMe"> 
                                <span ng-class="{'ico-collapse': showMe || newVersion.listOfRequests == undefind,'ico-expand': !showMe && newVersion.listOfRequests != undefind}"></span></span>
                                {{newVersion.request_display_id}}</td>                    
               						<td class="align_left_bold">{{newVersion.request_customer_name}}</td>
               						<td class="text_bold">{{newVersion.request_site_id}}</td>      
               						<td class="text_bold">{{newVersion.request_hostname}}</td>
                                    <td class="text_bold">{{newVersion.request_device}}</td>
                                    <td class="text_bold">{{newVersion.request_service}}</td>
                                    <td class="text_bold">{{newVersion.request_model}}</td>
                                    <td class="align_left_bold">
                                        <span ng-show = "newVersion.status == 'Success'" class="ico-success info-success">Success</span>
                                        <span ng-show = "newVersion.status == 'Failure'" class="ico-failure info-error">Failure</span>
                                        <span ng-show = "newVersion.status == 'In Progress'" class="ico-inProgress info-inProgress ml-15">In Progress</span>
                                    </td>
                                    <td class="text_bold"></td>
                                   
                                    <td class="text_bold"></td>
                                    
                                 </tr>
                                 <tr ng-show="showMe" ng-repeat="version in newVersion.listOfRequests">
                                 	<td><a class="requestIdStyle versionSubListStyle" ng-click="getViewConfigFlag(true)" ui-sref="reqDetails({dashboardReq_Details: version.display_request_id,version: version.request_version,pageName:'Configuration'})">{{version.display_request_id}}-v{{version.request_version}}</a></td>                    
               						<td style="text-align: left">{{version.customer}}</td>
               						<td>{{version.siteid}}</td>
               						<td>{{version.hostname}}</td>
                                    <td>{{version.deviceType}}</td>
                                    <td>{{version.service}}</td>
                                    <td>{{version.model}}</td>
                                    <td style="text-align: left">
                                        <span ng-show = "version.status == 'Success'" class="ico-success info-success">Success</span>
                                        <span ng-show = "version.status == 'Failure'" class="ico-failure info-error">Failure</span>
                                        <span ng-show = "version.status == 'In Progress'" class="ico-inProgress info-inProgress ml-15">In Progress</span>
                                        <span ng-show = "version.status == 'Scheduled'" class="ico-success ico-inProgress">Scheduled</span>
                                        <span ng-show = "version.status == 'Hold'" class="ico-hold info-hold">Hold</span>
                                    </td>
                                    <td>{{version.dateOfProcessing}}</td>
                                   <td>{{version.request_assigned_to}}</td>
                                    <td>{{version.request_creator_name}}</td>             
                                 </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
         </div>
        <!--    Page Footer Section  -->
        <footer class="text-center">&copy; Tech Mahindra - 2018</footer>
        <!--    Page Footer Section  -->
            
    </div>
</div>

